.list {
	flex-grow: 1;
	margin: 1rem;
}

.items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 100%;
	gap: 0.75rem;
	overflow: auto;
}

@media screen and (min-width: 500px) {
	.items {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.item {
	min-width: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 0.25rem;
	background-color: transparent;
	border: none;
	font-size: 0.9rem;
}

.item__img {
	display: flex;
	width: 100%;
	aspect-ratio: 1;
}

.item__img > div {
	background-color: var(--c-back);
	border: 3px solid var(--c-text);
	border-radius: 4px;
	box-shadow: 4px 4px 0 var(--c-secondary-dark);
}
.item__img img {
	border-radius: 1px;
}

.item__img div,
.item__img img {
	width: 100%;
	height: 100%;
	/* border-radius: 1rem; */
	object-fit: cover;
}

.item__desc {
	flex-grow: 1;
	background-color: var(--c-text);
	border: 3px solid var(--c-back);
	border-radius: 4px;
	box-shadow: 4px 4px 0 var(--c-secondary-dark);
	color: var(--c-back);
}

.item__desc__inner {
	padding: 0.5rem 0.3rem;
}

.item__desc__inner > :first-child {
	overflow: hidden;
	overflow-wrap: break-word;
}
.item__desc__inner > :last-child {
	/* color: yellow; */
	word-break: keep-all;
}

.item::before {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--c-secondary-dark);
	border: 3px solid var(--c-text);
	border-radius: 4px;
	color: var(--c-text);
	padding: 0.1rem 0.5rem 0.2rem 0.4rem;
}
.item_few::before {
	content: "Мало!";
}
.item_ended::before {
	content: "Sold!";
}

/* @media screen and (max-height: 500px) {
	.list {
		margin: 1rem 1rem -1rem -0.5rem;
		margin: 0.25rem 0.25rem 0 0;
	}
} */