.root {
	font-size: 2rem;
	text-transform: uppercase;
	color: #fff2b5;
	text-shadow: 0.1em 0 #380000, -0.1em 0 #380000, 0 0.1em #380000, 0 -0.1em #380000,
		0.05em 0.05em #380000, -0.05em -0.05em #380000, 0.05em -0.05em #380000, -0.05em 0.05em #380000;
}

.small {
	font-size: 1.5rem;
}

@media screen and (max-width: 355px) {
	.root {
		font-size: 1.8rem;
	}

	.small {
		font-size: 1.3rem;
	}
}