.root {
	background-color: transparent;
	color: white;
	border: 1px solid transparent;
	border-bottom: 1px solid var(--c-secondary);
	border-radius: 0.2em;
	outline: none;
	cursor: pointer;
	transition: background-color 100ms;
}
.root:focus-visible {
	background-color: rgba(from var(--c-secondary) r g b / 0.15);

}
.root option {
	background-color: var(--c-back);
	color: var(--c-text);
	font-size: 1rem;
}
.root option:hover {
	background-color: hsl(from var(--c-back) h s calc(l + 5));
}
.root option:checked {
	background-color: hsl(from var(--c-back) h s calc(l + 10));
}