.items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	overflow: auto;
}

@media screen and (min-width: 500px) {
	.items {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	/* gap: 0.5rem; */
	background-color: transparent;
	color: white;
	border: none;
	padding: 0;
	font-size: 1.1rem;
	border: 2px solid white;
}

.item__img {
	display: flex;
	width: 100%;
	aspect-ratio: 1;
}

.item__img div,
.item__img img {
	width: 100%;
	height: 100%;
	/* border-radius: 1rem; */
	object-fit: cover;
}

.item__img div {
	/* background:
		radial-gradient(circle at 50% 10%, purple, transparent 50%),
		radial-gradient(circle at 90% 90%, blue, transparent 50%),
		radial-gradient(circle at 30% 90%, azure, transparent 50%),
		radial-gradient(circle at 50% 50%, lightblue, violet); */
}

.item__desc {
	display: flex;
	justify-content: space-between;
	border-top: 2px solid white;
	padding: 0.2rem;
}

.item__desc > :last-child {
	color: yellow;
	flex-shrink: 0;
}

.qr {
	background-color: white;
}

.item_small {
	display: grid;
	grid-template-columns: 6rem 1fr;
	grid-template-rows: 1fr auto;
	align-items: center;
	gap: 0.5rem;
	margin-block: 1rem;
	font-size: 1.3rem;
}
.item_small .item__img {
	grid-row: 1/3;
	border: 2px solid white;
}

.item_small > :last-child {
	color: yellow;
}