*,
*::before,
*::after {
	box-sizing: border-box;
	color: inherit;
	font: inherit;
	padding: 0;
	margin: 0;
}

html,
body {
	min-height: 100vh;
	min-height: 100dvh;
}

body {
	display: flex;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration-skip-ink: none;
	font-family: var(--font-PTSans), Arial, Helvetica, sans-serif;
	font-size: 1rem;
	--bcsize: 5px;
	--bssize: 3.5px;
	--background:
		linear-gradient(0deg, transparent, #ffdb6c),
		radial-gradient(circle at var(--bcsize) var(--bcsize), #fff6a7 var(--bssize), transparent var(--bssize)) 0px 0px / calc(var(--bcsize) * 4) calc(var(--bcsize) * 4),
		radial-gradient(circle at calc(var(--bcsize) * 3) calc(var(--bcsize) * 3), #fff6a7 var(--bssize), transparent var(--bssize)) 0px 0px / calc(var(--bcsize) * 4) calc(var(--bcsize) * 4),
		linear-gradient(0deg, #ffe87e, #ffdb6c);
	font-family: var(--font-MFFRBL), Arial, Helvetica, sans-serif;
	--color: black;
	--c-back: #ffe87e;
	--c-primary: #f4ad51;
	--c-secondary: #380000;
	--c-secondary-light: #4a0000;
	--c-text: #fffeda;
	color: var(--color);
	--m-background: var(--background);
	--m-color: var(--color);
	--m-c-back: var(--c-back);
	--m-c-primary: var(--c-primary);
	--m-c-secondary: var(--c-secondary);
	--m-c-secondary-light: var(--c-secondary-light);
	--m-c-text: var(--c-text);
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 2rem;
	text-align: center;
}
h2 {
	font-size: 1.25rem;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
}
button:disabled {
	cursor: default;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: gray;
}