*,
*::before,
*::after {
	box-sizing: border-box;
	color: inherit;
	font: inherit;
	padding: 0;
	margin: 0;
}

html,
body {
	min-height: 100vh;
	min-height: 100dvh;
}

body {
	display: flex;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration-skip-ink: none;
	font-family: var(--font-PTSans), Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.25rem;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
}
button:disabled {
	cursor: default;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: gray;
}