.root {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	padding: 1rem 0.5rem;
	border: 2px solid var(--c-secondary);
	border-radius: 0.5rem;
}

.error {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-radius: 0.5rem;
	background: rgba(0, 0, 0, 0.5);
	font-size: 1.2rem;
	color: var(--c-secondary);
}

.id {
	position: absolute;
	left: 0.25rem;
	top: 0.25rem;
	opacity: 0.5;
}


.inputs {
	display: grid;
	grid-template-columns: auto 11rem;
	gap: 0.25rem 0.5rem;
}
@media screen and (max-width: 460px) {
	.inputs {
		grid-template-columns: auto;
	}
}

.inputs input,
.inputs select {
	min-width: 2rem;
	font-size: 0.8rem;
}

.changed .inputs input {
	border: 1px solid var(--c-secondary);
}

.buttons {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 0.25rem;
}

.buttons button {
	width: 2rem;
	height: 2rem;
}