.root {
	padding: 1rem;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(238, 130, 238, 0.2);
	color: white;
	border: 1px solid violet;
	border-radius: 0.25rem;
	padding: 0.2em 0.4em;
	font-size: 1rem;
}

.groupStats {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.groupStats > div {
	display: flex;
	flex-wrap: wrap;
}

.groupStats  ul {
	margin: 0;
}
