.root {
	position: fixed;
	inset: 0;
	background: linear-gradient(0deg, #3035dc, #120cbc);
	z-index: 100;
	display: flex;
	justify-content: center;
	overflow: auto;
}
*:has(.root) {
	overflow: hidden;
}

.close {
	position: fixed;
	top: 0.5rem;
	right: 0.5rem;
	background-color: white;
	border: none;
	border-radius: 0;
	font-size: 1rem;
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.close::before,
.close::after {
	content: "";
	position: absolute;
	background-color: black;
	width: 0.8rem;
	height: 2px;
	border-radius: 4px;
}
.close::before {
	transform: rotate(45deg);
}
.close::after {
	transform: rotate(-45deg);
}

.body {
	width: 100%;
	max-width: 600px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
	padding-bottom: 2rem;
}

.nodes {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.addBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(238, 130, 238, 0.2);
	border: 1px solid violet;
	color: aquamarine;
	border-radius: 0.25rem;
	font-size: 1rem;
	cursor: pointer;
}