*,
*::before,
*::after {
	box-sizing: border-box;
	color: inherit;
	font: inherit;
	padding: 0;
	margin: 0;
}

html,
body {
	min-height: 100vh;
	min-height: 100dvh;
}

body {
	display: flex;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration-skip-ink: none;
	font-family: var(--font-PTSans), Arial, Helvetica, sans-serif;
	font-size: 1rem;
	--bcsize: 45px;
	--blsize: 1px;
	--bcolor: #370037;
	--background:
		radial-gradient(circle at center, #000000dd, transparent 100%),
		repeating-linear-gradient(90deg, transparent, transparent var(--bcsize), var(--bcolor) var(--bcsize), var(--bcolor) calc(var(--bcsize) + var(--blsize))),
		repeating-linear-gradient(180deg, transparent, transparent var(--bcsize), var(--bcolor) var(--bcsize), var(--bcolor) calc(var(--bcsize) + var(--blsize))),
		#000;
	/* --background-calm: linear-gradient(0deg, #000e32, #000613); */
	--background-calm: black;
	font-family: var(--font-Undertale), Arial, Helvetica, sans-serif;
	--color: #ccebff;
	--c-back: #00042b;
	--c-back-dark: #000000;
	--c-back-dim: #000e31;
	--c-primary: #001e82;
	--c-primary-light: #1445b9;
	--c-secondary: #618ef8;
	--c-secondary-dark: #3649de;
	--c-secondary-light: #80a6fe;
	--c-trenary: #fffeaf;
	--c-text: #b3e0ff;
	color: var(--color);
	--m-background: var(--background);
	--m-color: var(--color);
	--m-c-back: var(--c-back);
	--m-c-primary: var(--c-primary);
	--m-c-secondary: var(--c-secondary);
	--m-c-secondary-light: var(--c-secondary-light);
	--m-c-trenary: var(--c-trenary);
	--m-c-text: var(--c-text);

	--color: #fff;
	--c-back: #000;
	--c-back-dark: #000;
	--c-back-dim: #333;
	--c-primary: #fff;
	--c-primary-light: #fff;
	--c-secondary: #000;
	--c-secondary-dark: #000;
	--c-secondary-light: #000;
	--c-trenary: #fff;
	--c-text: #fff;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 2rem;
	text-align: center;
}
h2 {
	font-size: 1.25rem;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
}
button:disabled {
	cursor: default;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: gray;
}

b {
	font-weight: bold;
}