.root {
	position: relative;
}

.title {
	--w: 0.5rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	margin-inline: var(--w);
	border-radius: 0 0 0.5rem 0.5rem;
	gap: 0.5rem;
	align-items: center;
	padding: 0 1rem 0.5rem 1rem;
	z-index: 2;
	background-color: #9124a4;
	color: #06f210;
}

.title::before,
.title::after {
	content: "";
	position: absolute;
	top: 0;
	width: var(--w);
	height: var(--w);
}
.title::before {
	left: calc(var(--w) * -1);
	background: radial-gradient(circle at 0% 100%, transparent var(--w), #9124a4 var(--w));
}
.title::after {
	right: calc(var(--w) * -1);
	background: radial-gradient(circle at 100% 100%, transparent var(--w), #9124a4 var(--w));
}