.root {
	margin: 6px;
	display: flex;
	background: linear-gradient(0deg, #4a0001, #380000);
	color: #fffeda;
	border: 4px solid #fffeda;
	box-shadow: 4px 4px 0 #f3ad51;
}

.small {
	margin: 2px;
	border-width: 2px;
	box-shadow: 2px 2px 0 #f3ad51;
}

.type2 .box {
	border: 5px solid #fccf65;
	border-top: 14px solid #fea35c;
	box-shadow: 0 0 0 3px #9e163f, inset 0 0 0 3px #9e163f;
}
.type2 .box_back,
.type2 .outline_back {
	left: -10px;
	bottom: -10px;
}
