.root {
	/* overflow-x: hidden; */
	padding-inline: 0;
}

.title {
	font-size: 2rem;
	text-transform: uppercase;
}
.title2 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	color: #9d1a42;
}
.title3 {
	font-size: 1.5rem;
	color: #ffc95e;
}
.subtitle {
	font-size: 1.1rem;
	text-align: center;
}

.window {
	flex-grow: 1;
	margin-left: -0.5rem;
}

.text {
	font-size: 1.5rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #ffc95e;
}

.text > div {
	text-align: center;
	text-wrap: balance;
}

.chooseTeam {
	display: flex;
	flex-direction: column;
}
.chooseTeam button {
	margin-left: -0.2em;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	border: solid 0.2em #9d1a42;
	background-color: #ffc95e;
	color: #9d1a42;
}

.press {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	border: none;
	background-color: transparent;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
}
.press__btn {
	font-size: 3rem;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}


.circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	border: 3px solid #9d1a42;
	animation: anim-circle 1s forwards;
	opacity: 1;
}

@keyframes anim-circle {
	to {
		width: 50%;
		height: 50%;
		opacity: 0;
	}
}

@media screen and (max-height: 600px) {
	.root {
		flex-direction: row;
		padding: 0;
		padding-left: 1rem;
	}
	.title {
		width: 2rem;
		line-height: 0.8;
		word-break: break-all;
		align-self: center;
		transform: translateY(1rem);
	}
	.window {
		margin: 1rem 1rem -1rem -0.5rem;
	}
}

.tourney_winners {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.tourney_winners > div {
	display: grid;
	grid-template-columns: 5rem 1fr;
	gap: 0 0.5rem;
	padding-right: 0.5rem;
	border: solid 0.2rem #9d1a42;
	background-color: #ffc95e;
	color: #9d1a42;
	font-size: 1.2rem;
}
.tourney_winners > div > :nth-child(1) {
	grid-row: 1/3;
	grid-column: 1/2;
	width: 100%;
	height: 100%;
}