.root {
	overflow-x: hidden;
}

.title {
	font-size: 3rem;
	text-transform: uppercase;
	color: #ffc95e;
}
.title2 {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: #9d1a42;
}
.title3 {
	font-size: 2.5rem;
	color: #ffc95e;
}
.subtitle {
	font-size: 2rem;
	text-align: center;
}

.window {
	flex-grow: 1;
	margin-left: -0.5rem;
}

.text {
	font-size: 2rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #ffc95e;
}

.text > div {
	text-align: center;
	text-wrap: balance;
}

.press {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	border: none;
	background-color: transparent;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
}
.press__btn {
	font-size: 3rem;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}


.circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	border: 3px solid #9d1a42;
	animation: anim-circle 1s forwards;
	opacity: 1;
}

@keyframes anim-circle {
	to {
		width: 50%;
		height: 50%;
		opacity: 0;
	}
}