.root {
	display: grid;
	grid-template-columns: 1fr 3rem;
}

.root button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(238, 130, 238, 0.2);
	border: 1px solid violet;
	color: aquamarine;
	border-radius: 0.25rem;
	font-size: 1rem;
	cursor: pointer;
}
.root button:hover {
	background: rgba(238, 130, 238, 0.3);
}

.root button:first-child {
	padding-left: 3.4rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.root button:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -1px;
}