.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(238, 130, 238, 0.2);
	color: white;
	border: 1px solid violet;
	border-radius: 0.25rem;
	padding: 0.4rem;
	font-size: 1rem;
	text-decoration: none;
}