.root {
	padding-inline: 0;
}

.title {
	font-size: 3rem;
	text-transform: uppercase;
}

.window {
	margin: 1rem 1rem 0.5rem 0.5rem;
	flex-grow: 1;
}

.map {
	height: 100%;
}

.btns {
	display: flex;
	justify-content: center;
	gap: 0.8rem;
}

.btn {
	padding: 0.5em 1em;
	border: none;
	color: inherit;
	background: transparent;
}
