.root {
	padding-inline: 0;
}

.title {
	font-size: 3rem;
	text-transform: uppercase;
}

.map {
	overflow: auto;
	margin-top: 1rem;
}
.map img {
	display: block;
	width: 100%;
	height: auto;
}

.btns {
	display: flex;
	justify-content: center;
	gap: 0.8rem;
}

.btn {
	padding: 0.5em 1em;
	border: none;
	color: inherit;
	background: transparent;
}
