.root {}

.list {
	flex-grow: 1;
	margin-bottom: 2rem;
	margin-left: -0.5rem;
}

.title {
	font-size: 3rem;
	text-transform: uppercase;
}


.items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 100%;
	/* gap: 1rem; */
	overflow: auto;
}

@media screen and (min-width: 500px) {
	.items {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	/* gap: 0.5rem; */
	background-color: transparent;
	border: none;
	padding: 0;
	font-size: 1rem;
	text-decoration: none;
}

.item__img {
	display: flex;
	width: 100%;
	aspect-ratio: 1;
	padding: 0.5rem;
}

.item__img > div {
	border: 3px solid #fdcf66;
	box-shadow: 0 0 0 2px #9d1a42;
}
.item__img > div > * {
	border: 2px solid #9d1a42;
}

.item__img div,
.item__img img {
	width: 100%;
	height: 100%;
	/* border-radius: 1rem; */
	object-fit: cover;
}

.item__img div div {
	background-color: #003095;
	/* background:
		radial-gradient(circle at 50% 10%, purple, transparent 50%),
		radial-gradient(circle at 90% 90%, blue, transparent 50%),
		radial-gradient(circle at 30% 90%, azure, transparent 50%),
		radial-gradient(circle at 50% 50%, lightblue, violet); */
}

.item__desc {
	padding: 0.5rem;
	word-break: break-all;
}

.item__desc > :last-child {
	/* color: yellow; */
	word-break: keep-all;
}

.item::before {
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	color: black;
	padding: 0.1rem 0.5rem 0.2rem 0.4rem;
	font-size: 1rem;
}
.item_few::before {
	content: "Мало!";
}
.item_ended::before {
	content: "Sold!";
}