.root {
	margin: 6px;
	display: flex;
	background: var(--c-secondary);
	color: var(--c-trenary);
	border: 4px solid var(--c-primary);
	border-radius: 2px;
	box-shadow: 4px 4px 0 var(--c-back-dim);
	outline: 2px solid var(--c-primary-light);
}

.small {
	margin: 2px;
	border-width: 2px;
	box-shadow: 2px 2px 0 var(--c-back-dim);
}

.btn {
	padding: 0.1em 0.05em;
}

.highlight {
	outline: 3px solid var(--c-trenary);
}
.primary {
	outline: 3px solid #cedff2;
	box-shadow: 9px 11px 0 #122c69;
	border-radius: 6px;
}

.alterbg {
	background: linear-gradient(0deg, var(--c-secondary) 50%, var(--c-secondary-dark) 50%);
}
.darkbg {
	background: var(--c-back);
	color: var(--c-text);
}