.background {
	position: fixed;
	inset: 0;
	z-index: -1;
	opacity: 1;
	/* --c1: #51185b55;
	--c2: #51185b;
	--c3: #000000; */
	--c1: #fea45c55;
	--c2: #fea45c;
	--c3: #120cbc;
	background: var(--c3);
	background: linear-gradient(135deg, var(--c1) 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, var(--c2) 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, var(--c1) 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, var(--c2) 25%, var(--c3) 25%) 0px 0/ 80px 80px;
	animation: anim-background 10s linear infinite alternate;
}

@keyframes anim-background {
	to {
		background-position: 100% 0;
	}
}

.body {
	height: 100%;
	margin: 1rem;
	color: var(--c-text);
}

.gold {
	color: yellow;
	text-align: center;
}

.tb {
	padding: 1em 0.5em;
}

.title {
	font-size: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	color: #fff2b5;
}
