.root {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	opacity: 0;
	transition: opacity 250ms;
	z-index: 15;
}
.hidden {
	display: none;
}
.open {
	pointer-events: all;
	opacity: 1;
}

.popup {
	background: var(--background);
	border: 2px solid var(--c-secondary);
	padding: 1rem;
	border-radius: 0.5rem;
	max-height: 100dvh;
	max-width: 100dvw;
	display: flex;
	flex-direction: column;
	transition: transform 250ms;
	transform: translateY(1rem);
}
.open .popup {
	transform: none;
}

.header {
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	color: var(--color);
}
.header > :first-child {
	align-self: center;
}

.close {
	position: relative;
	background-color: var(--c-primary);
	border: 2px solid var(--c-secondary);
	border-radius: 0.25rem;
	font-size: 1rem;
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.close::before,
.close::after {
	content: "";
	position: absolute;
	background-color: var(--c-text);
	width: 0.8rem;
	height: 2px;
	/* border-radius: 4px; */
}
.close::before {
	transform: rotate(45deg);
}
.close::after {
	transform: rotate(-45deg);
}

.body {
	overflow: auto;
}
