.root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	height: 100dvh;
	width: 100%;
	gap: 2rem;
	padding: 8rem 0;
}

.auth {
	position: fixed;
	top: 0;
	right: 0;
	width: 3rem;
	height: 3rem;
}

.logo {
	width: 80%;
	max-width: 300px;
	height: auto;
}

.btn {
	padding: 1.1rem 6.4rem;
	font-size: 2.2rem;
}

@media screen and (max-width: 500px) {
	.btn {
		padding: 1.1rem 2.4rem;
	}
}

@media screen and (max-height: 400px) {
	.root {
		flex-direction: row;
		padding: 0;
		padding-right: 2rem;
	}
	.logo {
		max-width: 30vw;
	}
}

@media screen and (max-height: 500px) and (min-height: 400px) {
	.logo {
		max-width: 200px;
	}
}