.root {
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
	color: var(--c-primary);
	--_c: white;
	text-shadow: 0.1em 0 var(--_c), -0.1em 0 var(--_c), 0 0.1em var(--_c), 0 -0.1em var(--_c),
		0.05em 0.05em var(--_c), -0.05em -0.05em var(--_c), 0.05em -0.05em var(--_c), -0.05em 0.05em var(--_c);
}

.small {
	font-size: 1.5rem;
}

@media screen and (max-width: 355px) {
	.root {
		font-size: 1.8rem;
	}

	.small {
		font-size: 1.3rem;
	}
}