.root {
	padding-inline: 0;
}

.title {
	font-size: 3rem;
	text-transform: uppercase;
}

.body {
	margin-bottom: 2.5rem;
	min-height: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}


.list {
	margin: 1rem 1rem 0.5rem 0.5rem;
	flex-grow: 1;
}

.items {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

.items > * {
	z-index: 1;
}
.item {
	padding: 0.5rem;
	font-size: 1.1rem;
}
.item_title {
	font-size: 1.5rem;
	margin-block: 1rem;
}

.btns {
	display: flex;
	justify-content: center;
}

.btn {
	font-size: 0.9rem;
	padding: 0.5em 0.5em;
	border: none;
	color: inherit;
	background: transparent;
}

@media screen and (max-width: 380px) {
	.btn {
		font-size: 0.85rem;
		padding: 0.3em 0.4em;
	}
	.btns > * {
		margin-left: 6px;
	}
}

@media screen and (min-width: 600px) {
	.btns {
		gap: 0.5rem;
	}
	.btn {
		font-size: 1rem;
		padding: 0.5rem 0.8rem;
	}
}